<div class="contacts-concentration">
    <div class="bar">ריכוז אנשי קשר</div>
    <div class="content">
        <div class="actions">
            <div>מספר אנשי קשר בתהליך: {{contactPersons.length}}</div>
            <div>פעולות אפשריות:</div>
            <button class="btn btn-primary" (click)="addInshured()">הוספת מבוטח</button>
            <button class="btn btn-primary" (click)="deleteContacts('full')">איפוס מלא</button>
            <button class="btn btn-primary" (click)="deleteContacts('')">איפוס אנשי קשר</button>
        </div>
    </div>
</div>

